.addAccountStyle{
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}

.navbar {
    margin-bottom: 40px;
}

.toggle {
    background-color: #ffffff;
}

.changeLanguage {
    margin-top: 1px;

}

.logo {
    color: #F5F0F0 !important;
    line-height: 28px;
    letter-spacing: 0.1em;
}

.circle {
    height: 100%;
    width: 100%;
    background: #ffffff;
    padding: 5px 7px;
    margin-right: 10px;
    margin-top: 2px;
    border-radius: 50%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
}

.util, .utilDropdown {
    margin-right: 10px;
}

.utilDropdown {
    padding-right: 20px;
    background-color: #FFFFFF;
    color: #000000;
}

.userUtils {
    display: flex;
    flex-direction: row;

}

