.dropDown {
    border-radius: 30px;
    width: 140px;
    height: 40px;
    margin: 20px 0;
}

.flex {
    display: flex;
    justify-content: right;
}



.rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.cardTitle {
    color: #0D6EFD;
}