.mainStructure{
    display: flex;
    flex-direction: row;
    position: relative;
    top:10%;
    left: 5%;
    right:5%;
    bottom:15%;

    
}

.ordersPosition{

}

.ordersSummaryPosition{
position: relative;
margin-left:5%;

}