.wrapper {
    margin-left: auto;
    margin-right: auto;
}

.mainStructure {
    left: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5%;
}

.minorStructure{
    display:flex;
    flex-direction: column;
    row-gap: 5%;
    justify-content: space-between;
}

.smallStucture{
    display:flex;
    position:relative;
    height: 100%;
    flex-direction: column;
}