.mainStructure {
    position:absolute;
    left: 2%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: 5%;
}

.minorStructure{
    display:flex;
    flex-direction: column;
row-gap: 5%;
}